<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>
        AgroVision
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <!-- CABEÇALHO -->

    <header>

        <div class="logo-container">

            <h1>
                AgroVision
            </h1>

            <p>
                Monitoramento inteligente de folhas de alface utilizando visão computacional.
            </p>

        </div>

    </header>

    <main>

        <!-- PAINEL PRINCIPAL -->

        <section class="painel-principal">

            <!-- CÂMERA -->

            <section class="card camera-card">

                <h2>
                    Visualização da Câmera
                </h2>

                <img
                    class="camera"
                    src="{{ url_for('video') }}"
                >

            </section>

            <!-- CONTROLE -->

            <section class="card controle-card">

                <h2>
                    Controle da Plataforma
                </h2>

                <div class="controle">

                    <!-- FRENTE -->

                    <form
                        action="{{ url_for('controle', comando='F') }}"
                        method="POST"
                    >

                        <button type="submit">
                            ↑
                        </button>

                    </form>

                    <!-- ESQUERDA / PARAR / DIREITA -->

                    <div class="linha-controle">

                        <form
                            action="{{ url_for('controle', comando='L') }}"
                            method="POST"
                        >

                            <button type="submit">
                                ←
                            </button>

                        </form>

                        <form
                            action="{{ url_for('controle', comando='S') }}"
                            method="POST"
                        >

                            <button type="submit">
                                ■
                            </button>

                        </form>

                        <form
                            action="{{ url_for('controle', comando='R') }}"
                            method="POST"
                        >

                            <button type="submit">
                                →
                            </button>

                        </form>

                    </div>

                    <!-- RÉ -->

                    <form
                        action="{{ url_for('controle', comando='B') }}"
                        method="POST"
                    >

                        <button type="submit">
                            ↓
                        </button>

                    </form>

                </div>

                      <div style="margin-top: 20px; text-align: center;">

               <p>Velocidade</p>

               <input
                  type="range"
                  min="0"
                  max="100"
                  value="50"
                  id="velocidadeSlider"
               >

               <span id="valorVelocidade">50</span>%

             </div>


            </section>

        </section>

        <!-- BOTÃO CAPTURAR -->

        <section class="actions">

            <form
                action="{{ url_for('capturar') }}"
                method="POST"
            >

                <button type="submit">
                    Capturar imagem
                </button>

            </form>

        </section>

        <!-- ÚLTIMA IMAGEM -->

        <section class="card">

            <h2>
                Última imagem capturada
            </h2>

            <img
                class="camera"
                src="{{ url_for('static', filename='imagem.jpg') }}?v={{ range(1, 100000) | random }}"
            >

        </section>

        <!-- CLASSIFICAÇÃO -->

        <section class="actions">

            <form
                action="{{ url_for('classificar') }}"
                method="POST"
            >

                <button type="submit">
                    Classificar imagem
                </button>

            </form>

      
        </section>

        <!-- RESULTADO -->

        <section class="card resultado">

            <h2>
                Resultado da Classificação
            </h2>

            <p>
                {{ resultado }}
            </p>

        </section>

    </main>

</body>

<script>

const teclas = new Set();

let ultimoComando = "";

function enviarComando(comando) {

    if (comando === ultimoComando)
        return;

    ultimoComando = comando;

    fetch(`/controle/${comando}`, {
        method: "POST"
    });
}

function atualizarComando() {

    let comando = "S";

    const w = teclas.has("w") || teclas.has("arrowup");
    const s = teclas.has("s") || teclas.has("arrowdown");
    const a = teclas.has("a") || teclas.has("arrowleft");
    const d = teclas.has("d") || teclas.has("arrowright");

    if (w && d) {

        comando = "G";

    } else if (w && a) {

        comando = "H";

    } else if (s && d) {

        comando = "I";

    } else if (s && a) {

        comando = "J";

    } else if (w) {

        comando = "F";

    } else if (s) {

        comando = "B";

    } else if (a) {

        comando = "L";

    } else if (d) {

        comando = "R";
    }

    enviarComando(comando);
}

document.addEventListener("keydown", function(event) {

    teclas.add(event.key.toLowerCase());

    atualizarComando();
});

document.addEventListener("keyup", function(event) {

    teclas.delete(event.key.toLowerCase());

    atualizarComando();
});

const slider = document.getElementById("velocidadeSlider");
const valorVelocidade = document.getElementById("valorVelocidade");

slider.addEventListener("input", function() {

    valorVelocidade.innerText = slider.value;

    fetch(`/velocidade/${slider.value}`, {
        method: "POST"
    });

});

</script>

</html>